*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .section-input {
  background-color: red;
  position: static;
} */

.input-box {
  position: relative;
  padding-top: 100px;
  padding-left: 20px;
}

.input-box input {
  padding: 10px 40px 10px 10px;
  /* width: 100%; */
  font-size: 16px;
  border: 2px solid goldenrod;
}

.eye {
  position: absolute;
  /* right: 10px; */
  /* cursor: pointer; */
  left: 230px;
  padding-top: 8px;
  /* top: 50%; */
}

.icon,
.icon2 {
  width: 22px;
  height: 22px;
}

.icon2 {
  display: none;
}

header {
  position: fixed;
  background-color: rgba(230, 191, 18, 0.712);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid goldenrod;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.name {
  color: black;
}
.hamburger {
  right: 0;
  cursor: pointer;
  padding-left: 50px;
}

.nav-links {
  display: none;
  list-style-type: none;
  li a {
    text-decoration: none;
    color: black;
  }
}

.nav-links.show {
  display: block;
}

@media screen and (min-width: 768px) {
  .name {
    padding-left: 40px;
    font-size: 25px;
  }
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    padding-right: 40px;
    font-size: 25px;
    gap: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .name {
    padding-left: 50px;
    font-size: 30px;
  }

  .nav-links {
    display: flex;
    padding-right: 50px;
    font-size: 30px;
    gap: 20px;
  }
}
